<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
    <div th:insert="menu/main"></div>
    <div class="container text-center">
        <div>
        </div>
        <div>
            <h1>Lista activa de cereri</h1>
        </div>
        
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Cantitate</th>
                        <th>Pret</th>
                        <th>Expirare</th>
                        <th>Detinator</th>
                        <th>Istoric oferte</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="request: ${requests}">
                        <td th:text="${request.amount}">Cantitate</td>
                        <td th:text="${request.price}">Pret</td>
                        <td> <p th:text="${request.timeout}" ></p> <p th:text="${request.time}"> </p></td>
                        <td th:text="${request.provider.user.email}">Email</td>
                        <td> <a th:href="@{/deal/request/inactive/} + ${request.id}">Vezi oferte</a> </td>  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
    </html>