<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="ISO-8859-1">
    <title>Andreea actions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:insert="home">...</div>
    <div class="container text-center">
        <h1>Andreea website</h1>
        <h3><a th:href="@{/users/all}">List of Users</a></h3>
        <h3><a th:href="@{/account/register}">Register</a></h3>
        <h3><a th:href="@{/login}">Login</a></h3>
    </div>
     
</body>
</html>