<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Andreea Deals</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'users/all') ? 'active' : ''}" th:if="${#authorization.expression('isAuthenticated()')}">
              <a href="#" th:href="@{/users/all}">Lista useri</a>
            </li>
            <li class="dropdown" th:classappend="${#strings.contains(#httpServletRequest.requestURI,'request') ? 'active' : ''}" th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cereri
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" th:href="@{/request/all/active}">Active</a></li>
                  <li><a href="#" th:href="@{/request/all/inactive}">Inactive</a></li>
                  <li><a href="#" th:href="@{/request/create}">Creare</a></li>
                </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li th:if="${#authorization.expression('!isAuthenticated()')}">
              <a href="/login" th:href="@{/login}">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
              </a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
              <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
              </a>
             <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>

            <li th:if="${#authorization.expression('!isAuthenticated()')}">
                
                <a href="#" th:href="@{/account/register}">Register</a>
                
              </li>

          </ul>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

  </body>
</html>